/* GENERAL */

body{
	font-family: Arial narrow, sans serif;
	background-color: white;
	margin: 0px;
	z-index: 1;
}

header{
	padding-top: 100px;
}

footer{
	height: 90px;
    border-top: 5px solid black;
}



/* TEMPLATE */

#fixedMenu{
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	z-index: 900;
}

#profilMenu{
	position: relative;
}



#profilMenu i:hover{
	color: orange;
}


/*#listMenuRoll{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 25px;
	text-align: center;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	background-color: black;
	min-width: 250px;
}*/

#profilMenuRoll i{
	color: orange;
}

#profilMenuRoll{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 25px;
	text-align: center;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	background-color: black;
	min-width: 250px;
}


#profilMenu li{
	border-bottom: 2px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
}

#profilMenu a{
	color: orange;
	text-decoration: none;
}

#profilMenu a:hover{
	color: white;
}



#profilMenuRoll li:hover{
	background-color: orange;
}


#profilMenuRoll li:hover a{
	color: white;
}


#profilMenuRoll li:hover i{
	color: white;
}

#profilMenuRoll li i:hover{
	color: black;
}

#brandMenu{
	width: 100%;
	text-align: center;
}


#brandMenu a{
	text-decoration: none;
	color: white;
	font-size: 45px;
}

#brandMenu a:hover{
	color: orange;
}


.fa-bars{
	font-size: 80px;
	color: white;
	padding: 10px;
	border: 1px solid white;
}

.fa-user-circle{
	font-size: 80px;
	color: white;
	padding: 10px;
}



#slider{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#sliderContent{
	position: absolute;
	top: 50px;
}

#imgSlider img{
	width: 100%;
}

#textSlider{
	display: flex;
	flex-direction: column;
}

#textSlider h2{
	font-size: 90px;
	color: white;
	margin: 15px;
}

#textSlider p{
	font-size: 30px;
	color: white;
	margin: 15px;
	font-style: italic;
}

#sliderButton{
	align-self: center;
	margin-top: 100px;
}

#sliderButton button{
	background-color: orange;
	font-size: 25px;
	font-weight: bold;
	margin-left: 30px;
}

#sliderButton a{
	text-decoration: none;
	color: black;
}

#sliderButton a:hover{
	color: white;
}




/* LISTEVENTSVIEW */

#postSection, #searchSection{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	padding-bottom: 85px;
}

#postSection h2, #searchSection h2{
	font-size: 35px;
	color: black;
}


.evtsPost{
	width: 70%;
	margin-top: 70px;
	border-top: 15px solid orange;
	border-bottom: 10px solid orange;
	border-right: 4px solid orange;
	border-left: 4px solid orange;
}


.evtsPost h3 a{
	color: white;
	text-decoration: none;
}

.evtsPost h3 a:hover{
	color: orange;
}

.evtsPlaceDate{
	font-size: 20px;
	font-style: italic;
	text-align: center;
	background-color: orange;
	color: white;
	margin-top: 0px;
	padding-right: 10px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-bottom: 15px;
}

.evtsPostTitle{
	text-align: center;
	font-size: 35px;
	margin-top: 0px;
	padding-right: 10px;
	margin-bottom: 0px;
	padding-left: 10px;
	background-color: black;
	color: white;
}

#evtsPlaceDate em{
	font-style: normal;
	font-weight: bold;
}


.postDescript{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	font-size: 20px;
	border: 4px solid black;
}



#postSectionFormDiv{
	display: flex;
	width: 100%;
	justify-content: space-around;
}


#postSection nav{
	width: 100%;
	display: flex;
	justify-content: center;
}


.pagination{
	width: 50%;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}


/* EVENTVIEW */


#inscriptionButton{
	margin-top: 50px;
	border: 2px solid black;
	box-shadow: 2px 2px 2px black;
	background-color: RGB(221, 221, 221);
}



#inscriptionLink{
	text-decoration: none;
	padding: 10px;
	color: green;
	font-weight: bold;
}

#deleteInscriptionLink{
	text-decoration: none;
	padding: 10px;
	color: red;
	font-weight: bold;
}

#deleteInscriptionLink:hover, #inscriptionLink:hover{
	color: white;
}


.eventPost{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-top: 25px;
	padding-bottom: 30px;
}

.eventPost h3{
	font-size: 35px;
	text-align: center;
	text-decoration: underline;
	color: orange;
}

.eventPostContent{
	width: 100%;
	padding: 10px;
	background-color: RGBa(221, 221, 221, 0.3);
}


.eventPostContent p{
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}

.eventPostContent em{
	font-size: 20px;
	font-weight: normal;
	text-decoration: none;
}

#descriptEventPost{
	text-decoration: underline;
}


#eventCommentDiv{
	width: 70%;
}

#eventCommentDiv h3{
	font-size: 25px;
}

#eventCommentDiv textarea{
	width: 100%;
	height: 150px;
}

#eventCommentDiv input{
	width: 100%;
}


#connectToComment{
	margin-top: 60px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

#connectToComment a:hover{
	color: orange;
}


.eventPost a:hover, #eventCommentDiv a:hover{
	color: #5F1155;
}



#imgEvent{
	width: 100%;
	margin-bottom: 30px;
}

#imgEvent img{
	width: 100%;
}



/* REGISTERVIEW 1 CONNECTIONVIEW */

#connectionDiv #registerDiv{
	position: relative;
}


#imgConnectionSlider img, #imgRegisterSlider img{
	width: 100%;
}

#textConnectionSlider, #textRegisterSlider{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#textConnectionSlider h1, #textRegisterSlider h1{
	font-size: 40px;
	text-align: center;
}

@media screen and (max-width: 660px){
	#textConnectionSlider h1, #textRegisterSlider h1{
		font-size: 30px;
	}
}


#connectionSpace, #registerSpace{
	border: 5px solid RGBa(184, 143, 54, 0.5);
	padding: 10px;
}

#textConnectionSlider form, #textRegisterSlider form{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
	font-size: 25px;
}


@media screen and (max-width: 660px){
	#textConnectionSlider p, #textRegisterSlider p{
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 20px;
	}
}


#textConnectionSlider input, #textRegisterSlider input{
	margin-right: 25px;
	margin-left: 5px;
	height: 30px;
}


@media screen and (max-width: 660px){
	#textConnectionSlider input, #textRegisterSlider input{
		margin-right: 0px;
		margin-left: 0px;
	}
}


#connectionButton input, #registerButton input{
	font-size: 20px;
}

#connectionId, #registerId{
	display: flex;
	margin-bottom: 30px;
	color: white;
	font-weight: bold;
}

@media screen and (max-width: 660px){
	#connectionId, #registerId{
		flex-direction: column;
	}
}


#registerId p{
	text-align: center;
}

#registerId label{
	margin-right: 20px;
}


#goToInscript a{
	color: white;
	background-color: blue;
	font-size: 20px;
}

#goToInscript a:hover{
	color: blue;
	background-color: white;
}



/* AGENDA VIEW */

#selectView{
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

#organised{
	text-decoration: underline;
	width: 50%;
	text-align: center;
}

#participate{
	text-decoration: underline;
	width: 50%;
	text-align: center;
	box-shadow: inset 2px -2px 5px black;
	background-color: RGBa(229, 223, 221, 1);
	opacity: 0.5;
}


#participateSection{
	display: none;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 100px;
}


#organisedSection{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 100px;
}

.seeEvtsLinkPost{
	font-size: 18px;
	font-weight: bold;
	background-color: orange;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

.seeEvtsLinkPost2{
	font-size: 18px;
	font-weight: bold;
	background-color: orange;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}

.seeEvtsLinkPost a{
	color: black;
}

.seeEvtsLinkPost a:hover{
	color: white;
}


#seeEventLink{
	color: blue;
	font-weight: normal;
	text-decoration: none;
}

#modifyEventLink{
	color: green;
	font-weight: normal;
	text-decoration: none;
}

#deleteEventLink{
	color: red;
	font-weight: normal;
	text-decoration: none;
}


#seeEventLink:hover, #modifyEventLink:hover, #deleteEventLink:hover{
	color: white;
}





/*ADD EVENT VIEW*/

#addModifEventDiv{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}


#addModifEventDiv h1{
	color: orange;
	font-size: 35px;
	text-decoration: underline;
	margin-bottom: 60px;
}


#addModifEventDiv form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#formDivTitle{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 45px;
}

#addModifEventDiv form label{
	font-weight: bold;
}


.formDiv{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 35px;
}


.formDiv input{
	width: 70%;
}


#formDescription{
	width: 100%;
	margin-bottom: 35px;
}

#description{
	width: 100%;
}



#picEvent em{
	font-weight: normal;
	font-style: italic;
}




/*signalEventView*/

#signalEventViewDiv{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#signalEventViewDiv h1{
	margin-top: 50px;
	align-self: center;
}

@media screen and (max-width: 750px){
	#signalEventViewDiv h1{
		border: 2px solid black;
		padding: 5px;
	}
}

table{
	width: 80%;
	border-collapse: collapse;
	margin-bottom: 200px;
	margin-top: 50px;
	align-self: center;
}


table th{
	border:2px solid black;
	border-collapse: collapse;
	padding-top: 6px;
	padding-bottom: 6px;
}

@media screen and (max-width: 750px){
	table th{
		border: none;
		width: 100%;
	}
}

table tr{
	border-top: 1px solid black;
}

@media screen and (max-width: 750px){
	table tr{
		display: flex;
		flex-direction: column;
		align-items: center;
		border-top: 2px solid black;
		text-align: center;
		margin: auto;
	}
}

table td{
	border-right: 1px solid black;
	min-height: 200px;
	text-align: center;
	padding: 10px;
	word-break: break-word;
}

@media screen and (max-width: 750px){
	table td{
		border-right: none;
		min-height: 40px;
	}
}


#deleteSignalEvent{
	color: red;
	font-weight: bold;
	width:100%;
	align-self: center;
	margin:0;
}

#cancelSignalEvent{
	color: blue;
	font-weight: bold;
	width: 100%;
	align-self: center;
	margin:0;
}

#deleteSignalEvent a{
	color: red;
}

#cancelSignalEvent a{
	color: green;
}

#actionSignalButton{
	border-right: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 5px;
}

@media screen and (max-width: 750px){
	#actionSignalButton{
		flex-direction: row;
		padding-left: 0px;
		border-top: 1px solid RGBa(0, 0, 0, 0.4);
		width: 100%;
		align-items: center;
	}
}

#signalEventLink:hover{
	color: black;
}

#signalEventLink{
	text-decoration: underline;
	word-break: keep-all;
}

#actionSignalButton button{
	font-weight: bold;
}

#dateTable{
	width: 20%;
	font-style: italic;
}

@media screen and (max-width: 750px){
	#dateTable{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.1);
		margin: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#authorTable{
	font-weight: bold;
}

@media screen and (max-width: 750px){
	#titleTr{
		background-color: RGBa(184, 143, 54, 0.5);
		border-top: 5px solid black;
		border-bottom: 2px solid black;
	}
}





/*adminView*/

.adminSection{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 15px;
	background-color: orange;
	border: 2px solid white;
}

.adminSection h2{
	font-size: 40px;
}

@media screen and (max-width: 500px){
	.adminSection h2{
		font-size: 25px;
	}
}

.adminSection a{
	color: black;
	display: flex;
	align-items: flex-end;
	height: 100%;
}

.adminSection a:hover{
	color: white;
}

